<form (ngSubmit)="onSubmit()" #prestamoForm="ngForm" class="p-fluid">
  <!-- Selector de Empleado -->
  <div class="field">
    <label for="empleado">Empleado</label>
    <p-dropdown
      [options]="empleados"
      optionLabel="nombre"
      optionValue="id"
      [(ngModel)]="prestamo.empleado"
      name="empleado"
      placeholder="Seleccione un empleado"
      [showClear]="true"
      required
    ></p-dropdown>
  </div>

<!-- Campo con input básico -->
<div class="field">
  <label for="monto_prestamo">Monto del préstamo</label>
  <input
    id="monto_prestamo"
    type="number"
    [(ngModel)]="prestamo.monto_prestamo"
    name="monto_prestamo"
    placeholder="Ingrese el monto"
    required
  />
</div>


<div class="field">
  <label for="abono_semanal">Abono semanal</label>
  <input
    id="abono_semanal"
    type="number"
    [(ngModel)]="prestamo.abono_semanal"
    name="abono_semanal"
    placeholder="Ingrese el abono semanal"
    required
  />
</div>


  <!-- Razón -->
  <div class="field">
    <label for="razon">Razón</label>
    <textarea
      pInputTextarea
      id="razon"
      [(ngModel)]="prestamo.razon"
      name="razon"
      rows="3"
      placeholder="Razón del préstamo"
      required
    ></textarea>
  </div>

  <!-- Fecha del préstamo -->
  <label for="fecha_prestamo">Fecha del préstamo:</label>
  <input
    type="date"
    id="fecha_prestamo"
    [(ngModel)]="prestamo.fecha_prestamo"
    name="fecha_prestamo"
    required
  />
  <!-- Botón Guardar -->
  <div class="field">
    <button pButton type="submit" label="Guardar" [disabled]="prestamoForm.invalid" class="p-button-success"></button>
  </div>
</form>
